h1{
    color: brown;
}

.wrapper{
    margin-bottom: 30px;
}

.wrapper button{
    width: 30px;
    height: 30px;
    background: none;
    color: #7c1972;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    
}

.wrapper_numbers{
    display: flex;
    flex-direction: column;
    
    max-width: 150px;
}

.wrapper_numbers input{
    margin-bottom: 10px;
}

.result{
    border: 2px solid #4400ff;
    width: 145px;
}